/* secondPage.css
.scrollable-container {
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.background-image {
  background-image: url("https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react//home/radiant_dire5.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
  transition: opacity 0.3s ease;
}

.new-page-container {
  position: relative;
  z-index: 1;
  padding: 20px; */
/* text-align: center;
  color: white;
}

.scrollable-content {
  max-width: 800px;
  margin: 0 auto;
  overflow-y: auto;
  max-height: 70vh;
}

.heroes {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; */

/* .box {
    width: 200px;
    height: 200px;
    background-color: black;
  }
} */
